<!--
  Generated template for the SheetsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title>Intervention</ion-title>
    </ion-navbar>

  </ion-header>


  <ion-content >
    <button (tap)='AlertAction()' ion-button icon-left color="secondary" >
      <ion-icon name="md-add"></ion-icon>
      nouvelle intervention
    </button>
    <ion-content >
      <ion-toolbar no-border-top>
          <ion-segment [(ngModel)]="this.segments">
            <ion-segment-button value="instervention_request">
             Demandes intervention
            </ion-segment-button>
            <ion-segment-button value="work_orders">
            Bons intervention
            </ion-segment-button>
            <ion-segment-button value="intervention_report">
              Rapport intervention
              </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
        <div [ngSwitch]="this.segments">
            <div *ngSwitchCase="'instervention_request'" >
                <ion-card *ngFor="let item of sheet.sheets" >

                    <ion-card-content *ngIf=" item.state == 1"  (tap)='AlertAction(item.state,item.id)' >
                      <ion-card-title>
                        {{item.customer_name}}
                        </ion-card-title>
                      <p>
                       {{item.description}}
                       <ion-grid>
                        <ion-row>
                          <ion-col col-12><b>Technicien:</b> {{item.user_name}}</ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col col-12><b>Durée:</b> {{item.duration }} heure</ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col padding col-12  ><b>Debut :</b>  {{item.start_date | date: 'dd/MM/yyyy à  H:mm '  }} </ion-col>
                        </ion-row>
                    </ion-grid>
                      </p>
                    </ion-card-content>
                  </ion-card>
              
            </div>
            <div *ngSwitchCase="'work_orders'">
              <ion-card *ngFor="let item of sheet.sheets" >

                <ion-card-content *ngIf=" item.state == 3"  (tap)='AlertAction(item.state,item.id)' >
                  <ion-card-title>
                    {{item.customer_name}}
                    </ion-card-title>
                  <p>
                   {{item.description}}
                   <ion-grid>
                    <ion-row>
                      <ion-col col-12><b>Technicien:</b> {{item.user_name}}</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col col-12><b>Durée:</b> {{item.duration }} heure</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col padding col-12  ><b>Debut :</b>  {{item.start_date | date: 'dd/MM/yyyy à  H:mm '  }} </ion-col>
                    </ion-row>
                </ion-grid>
                  </p>
                </ion-card-content>
              </ion-card>
            </div>
            <div *ngSwitchCase="'intervention_report'" >
              <ion-card *ngFor="let item of sheet.sheets" >

                <ion-card-content *ngIf="item.state == 3" (tap)='AlertAction(item.state,item.id)' >
                  <ion-card-title>
                    {{item.customer_name}}
                    </ion-card-title>
                  <p>
                   {{item.description}}
                   <ion-grid>
                    <ion-row>
                      <ion-col col-12><b>Technicien:</b> {{item.user_name}}</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col col-12><b>Durée:</b> {{item.duration }} heure</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col padding col-12  ><b>Debut :</b>  {{item.start_date | date: 'dd/MM/yyyy à  H:mm '  }} </ion-col>
                    </ion-row>
                </ion-grid>
                  </p>
                </ion-card-content>
              </ion-card>
            </div>
        </div>
    
  </ion-content>
