<!--
  Generated template for the AProrposPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>A propos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>

            <ion-img style="width: 240px; height: 150px;" src="assets/images/Baki4.png" aling="center"></ion-img>

        <ion-row>
          <ion-col col-12> Version:<b>  0.3.0</b>

          </ion-col>

        </ion-row>
        <ion-row>
            <ion-col col-8> License :<b><a href="https://www.gnu.org/licenses/lgpl-3.0.fr.html" > gpl version 3</a> </b></ion-col>

          </ion-row>
          <ion-row>
              <ion-col col-8> Site : <b> <a href="https://mithril.re">https://mithril.re</a> </b></ion-col>

          </ion-row>
                <ion-row>
                    <ion-col col-12>
                      Code source :<b>  <a href="https://gitlab.com/mithril_informatique/BAKI-Mobile"> https://gitlab.com/mithril_informatique/BAKI-Mobile</a> </b>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                <ion-col col-8>Auteur : <b> Robert Jean Steven </b></ion-col>

              </ion-row>
              <ion-row>
                  <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
                      <p align="center"><b>Description de l'application:</b></p><br>

                    BAKI−Mobile est  une application Android mutli-fonction  qui permet de traiter les Interventions affectées a un  technicien :
                      Rapport d’intervention,
                      Temps passé,
                      Observations client et même bien plus encore....
                    </ion-col>

                </ion-row>
      </ion-grid>



</ion-content>
