<!--
  Generated template for the CustomerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title> {{customer.name}}</ion-title>
    </ion-navbar>

  </ion-header>


  <ion-content >
      <ion-grid>
          <ion-row>
            <ion-col col-12 >
              <img  align="center" src="{{customer.logo_medium}}">
              <ion-fab right top>
                <a (tap)='Geo(customer.id)'  ion-fab >
                  <ion-icon  name="pin"></ion-icon>
                </a>
              </ion-fab>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              Numéro de fixe: <a href="tel:{{customer.tel}}" >{{customer.tel}}</a>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12>
                Numéro de mobile: <a href="tel:{{customer.mobile}}" > {{customer.mobile}}</a>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                Numéro de fax: <a href="fax:{{customer.fax}}">{{customer.fax}}</a>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col col-12>
                    Email:  <a href="mailto:{{customer.email}}">{{customer.email}}</a>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                    Adresse postale<br><address>{{customer.address}}</address>
                    </ion-col>
                </ion-row>



               <!--  <ion-row>
                    <ion-col col-12>
                      les projets liers:<br><button ion-button class="submit-btn"  (click)='actionproject(customer.id)'>
                          <ion-icon   name="ios-people" ></ion-icon>Liste de projets
                      </button>
                    </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
                      <p align="center"><b>La Note interne:</b></p><br>

                            <div [innerHtml]="this.markdownText"></div>

                                <ion-fab right top>
                                  <a (click)="presentModal(customer.id,customer.notes)" ion-fab >
                                    <ion-icon  name="create"></ion-icon>
                                  </a>
                                </ion-fab>



                </ion-col>
              </ion-row>-->
        </ion-grid>

            <ion-toolbar no-border-top  >
              <ion-segment [(ngModel)]="this.segments">
                <ion-segment-button value="notes">
                  Note interne
                </ion-segment-button>
                <ion-segment-button value="projects" *ngIf="customer.supplier == false || customer.supplier == null  ">
                  Projets
                </ion-segment-button>
                <ion-segment-button value="sheet" *ngIf="customer.supplier == false  || customer.supplier == null   ">
                  Interventions
                </ion-segment-button>
              
                <ion-segment-button value="factures" *ngIf="customer.supplier == true" >
                  facture
                </ion-segment-button>
            </ion-segment>
            </ion-toolbar>
            <div [ngSwitch]="this.segments">


              <ion-card class="adv-map" *ngSwitchCase="'notes'">
                <ion-card-content>
                 <div style="position: relative">
                   <p align="center">

                  </p>
                  <br>
                  <br>
                     <div [innerHtml]="this.markdownText"></div>

                     <ion-fab right top>
                      <a (click)="presentModal(customer.id,customer.notes)" ion-fab >
                        <ion-icon  name="create"></ion-icon>
                      </a>
                    </ion-fab>
                  </div>
                </ion-card-content>
              </ion-card>







              <div *ngSwitchCase="'projects'" >

                     <!--   <h1>teste</h1>

                    <ion-list *ngFor="let item of Projects.projects" >
                        <ion-item *ngIf="customer.id == item.customer_id ">

                          <h2>{{item.title}}</h2>
                          <p></p>
                        </ion-item>
                      </ion-list>-->
                      <ion-card  *ngFor="let item of Projects.projects">

                          <ion-card-content *ngIf="customer.id == item.customer_id ">
                              <h2>{{item.title}}</h2>
                              <ul style="list-style-type:none" >
                                  <li><ion-icon name="briefcase"> le client : {{item.customer_name}}</ion-icon></li>
                                  <li>  <ion-icon name="calendar"> echeance: {{item.echeance}}</ion-icon></li>
                                  <li><ion-icon name="cash"> facturable: {{item.facturable}} </ion-icon> </li>

                                </ul>
                          </ion-card-content>

                        </ion-card>
                    <!--   <*ngFor="let item of Projects.projects"  -->
              </div>
              <div *ngSwitchCase="'sheet'" >
                  
              <ion-card *ngFor="let items of sheet.sheets" >
                <div *ngIf="customer.id == items.customer_id">
                    <ion-card-title>
                        {{items.customer_name}}
                    </ion-card-title>
                  <ion-card-content  >
                     {{items.description}}
                     <ion-grid>
                      <ion-row>
                        <ion-col col-12><b>Technicien:</b> {{items.user_name}}</ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col col-12><b>Durée:</b> {{items.duration }} heure</ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col col-12  ><b>Debut :</b>  {{items.start_date | date: 'dd/MM/yyyy à  H:mm '  }} </ion-col>
                      </ion-row>
                  </ion-grid>
                    
                  </ion-card-content>

                </div> 
              </ion-card>
            </div>
            </div>
  </ion-content>
