<!--
  Generated template for the ProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        
      <ion-title>les Contrat/Projet</ion-title>
    </ion-navbar>

  </ion-header>


  <ion-content padding>
    <ion-card *ngFor="let obj of Project.projects"
 >
    <div   (tap)='actionp(obj.id)'>
      <ion-card-header  >
     <b > {{obj.title}}</b>
      </ion-card-header>
      <ion-card-content>

         <ul style="list-style-type:none" >
          <li><ion-icon name="briefcase"> le client : {{obj.customer_name}}</ion-icon></li>
          <li>  <ion-icon name="calendar"> echeance: {{obj.echeance}}</ion-icon></li>
          <li><ion-icon name="cash"> facturable: {{obj.facturable}} </ion-icon> </li>

        </ul>
      </ion-card-content>
    </div>
    </ion-card>
  </ion-content>
