<!--
  Generated template for the ContratPojectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>project </ion-title>
    </ion-navbar>

  </ion-header>


  <ion-content padding>

        <ion-grid>
            <ion-row>
                <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
                    <h3 align="center"><b>{{project.title}}</b></h3><br>
              </ion-col>
            </ion-row>
          <ion-row>
            <ion-col col-12>
              le client : {{project.customer_name}}
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-12>
                echeance: {{project.echance}}
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                  acturable: {{project.facturable}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-12>
                  la durée d'intervention deja effectué est: {{project.duree_interventions}} heure  sur {{project.max_hours}}  heure
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col col-12>
                      crée le: {{project.created_at | date: 'dd/MM/yyyy '}}
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
                      <p align="center"><b>Note interne:</b></p><br>

                      <div [innerHtml]="this.markdownText"></div>

                </ion-col>
              </ion-row>
        </ion-grid>




  </ion-content>
