<ion-header enabled= "false">

</ion-header>

<ion-content class="login-content" padding>
  <ion-row class="logo-row">

    <ion-col width-67>
    <ion-img style="width: 200px; height: 105px;" src="assets/imgs/baki-mobile3.png "></ion-img>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">

      <ion-row>
        <ion-col>


          <ion-list inset>
              <h5 class="indigo-text">Veuillez vous connecter à votre compte</h5>
            <ion-item>
              <ion-input [(ngModel)]= "mail" type="email" placeholder="Email" name="email"  required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input [(ngModel)]= "password" type="password" placeholder="mot de passe" name="password"  required></ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit"  (click)='showlogin()'>connexion</button>

        </ion-col>
      </ion-row>


  </div>
</ion-content>
