<ion-menu  id="myMenu"[content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
        <ion-card-content>
            <p align="center"><b>PROFIL:</b></p><br>
            <ul style="list-style-type:none" >
                <li>ID: {{this.idt}} </li>
                <li> token: {{this.token}}</li>

                <li> connecter: {{this.loginprofil}} </li>
              </ul>
        </ion-card-content>
    </ion-card>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    <button menuClose ion-item (click)="deconnection()">
    deconnection
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
