<!--
  Generated template for the CustomersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
    
      <ion-title>Annuaires</ion-title>
    </ion-navbar>

  </ion-header>


  <ion-content >
      <ion-toolbar no-border-top>
          <ion-segment [(ngModel)]="this.segments">
            <ion-segment-button value="customer">
             Clients
            </ion-segment-button>
            <ion-segment-button value="supplier">
            Fournisseurs
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
        <div [ngSwitch]="this.segments">
                <div *ngSwitchCase="'customer'" >
            <ion-list *ngFor="let item of customers.customers" class="listcusto" >

                <ion-item  *ngIf="item.supplier == false || item.supplier== null" (click)='action(item.id)'>
                    <ion-thumbnail item-start>
                      <img src="{{item.logo_thumb}}"  >
        
                    </ion-thumbnail>
                    <h2 >{{item.name}}</h2>
                    <p>
                      <li>email: {{item.email}}</li>
                      <li>telephone:{{item.tel}}</li>
                      <li>adresse:{{item.address}}</li>
                    </p>
                  </ion-item>
        
                </ion-list>
        
                <ion-list  >
                  <ion-item>
        
                  </ion-item>
                  </ion-list>
        </div>
        <div *ngSwitchCase="'supplier'" >
            <ion-list *ngFor="let item of customers.customers" class="listcusto" >

                <ion-item *ngIf="item.supplier == true " (click)='action(item.id)'>
                    <ion-thumbnail item-start>
                      <img src="{{item.logo_thumb}}"  >
        
                    </ion-thumbnail>
                    <h2 >{{item.name}}</h2>
                    <p>
                      <li>email: {{item.email}}</li>
                      <li>telephone:{{item.tel}}</li>
                      <li>adresse:{{item.address}}</li>
                    </p>
                  </ion-item>
        
                </ion-list>
        
                <ion-list  >
                  <ion-item>
        
                  </ion-item>
                  </ion-list>
        </div>
        </div>
    
  </ion-content>
