<!--
  Generated template for the ModalEditonNotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Mode édition de la note </ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content >
    <ion-grid>
      <ion-row>
  
        <ion-col padding col-12 >
            <p align="center"><b> Note interne:</b></p><br>
          <ion-item>
             <ion-textarea  rows="10" cols="40" data-provide="markdown" [(ngModel)]="this.notes" ></ion-textarea>
          </ion-item>
        
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item>
            <button ion-button icon-right full (tap)="valide_boutton(this.notes)">
                Valider
                <ion-icon name="md-checkmark" ></ion-icon>
            </button>
        </ion-item>
    </ion-col>
  
     
      </ion-row>
  </ion-grid>
  </ion-content>
  