<!--
  Generated template for the ArticleFichePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title align="center"> {{article.title}}</ion-title>
        <p align="center">{{article.category}}</p>
      </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <img src="{{article.picture_thumb}}">
      
      </ion-col>
   
      <ion-col col-8>
        <ul class="menuH"> 
    
          <li><b>Peut être vendu:</b>{{this.boolsell(article.can_sell)}}</li>
          <li><b>Peut être acheté :</b>{{this.boolPurchase(article.can_purchase)}}</li>
          <li><b>Code barre:</b>{{article.gencode}}</li>
          <li><b>Reference :</b>{{article.ref}}</li>
        </ul> 
      </ion-col>
    </ion-row>
   
  </ion-grid>
  <div padding>
      <ion-segment [(ngModel)]="this.Segment">
        <ion-segment-button value="information">
        Informations
        </ion-segment-button>
        
        <ion-segment-button value="description">
            Description
         </ion-segment-button>
            
        <ion-segment-button value="inventaire">
          Inventaires
        </ion-segment-button>
        <ion-segment-button value="compta">
           Comptabilité
          </ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="this.Segment">
    <ion-card  *ngSwitchCase="'information'">
       
        <ion-card-content>
        
       
        <div>
        <ul align="left" class="menuH"> 
        <li><b>Prix de vente :</b>{{article.public_price}} €</li>
        <li><b> Prix achat : </b>{{article.purchase_price}} €</li> 
        <li><b>Frais : </b>{{this.frais(article.cost_price,article.purchase_price) }} € </li>  
        <li><b>Prix de revient : </b>{{article.cost_price}} € </li>   
        <li><b>Marge  </b>{{marge(article.cost_price,article.public_price)}}  € ({{margepourcent(article.cost_price,article.public_price)}} %) </li> 
        <li><b> Durée : </b>{{article.warranty}} mois</li> 
       </ul>
        </div>
        </ion-card-content>
      </ion-card>
      


      <ion-card  *ngSwitchCase="'description'">
          
          <ion-card-content>
           
         <div class="DArt" > 
            
             <p>{{article.description}}</p>
         </div>

          </ion-card-content>
        </ion-card>
        
        <ion-card  *ngSwitchCase="'inventaire'">
          
              <ion-card-content>
               
                <ul>
                <li><b>Fournisseur :</b>{{article.supplier}}</li>
                <li><b>Stock fournisseur : </b>{{article.supplier_stock}}</li>
              </ul> 

              </ion-card-content>
            </ion-card>
            <ion-card  *ngSwitchCase="'compta'">
               
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                      <ion-col col-6>
                       
                     <b>TVA à la vente:</b> {{article.sale_vat}}  %
                      </ion-col>
                   
                      <ion-col col-6>
                      <b>TVA à L'achat:</b> {{article.purchase_vat}} %
                      </ion-col>
                    </ion-row>
                   
                  </ion-grid>
                  
                  
                  
                  
                </ion-card-content>
              </ion-card>
    </div>
    
</ion-content>
