page-article-fiche {

}

    ul.menuH {
    list-style-type : none; /* Car sinon les puces se placent n'importe où */
    }
    .DArt{
        background-color: rgba(156, 148, 148, 0.205)
    
    }
    