<!--
  Generated template for the ArticleListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>articles</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
   <ion-card  *ngFor="let items of articles.articles">
        <ion-card-content >
        <ion-item (click)='action(items.id)'>
            <ion-thumbnail item-start>
              <img src="{{items.picture_thumb}}"  >
            </ion-thumbnail>
            <h2>{{items.title}}</h2>
            
              <p> </p><p>{{items.category}}</p><br/>
              <p> </p><p *ngIf=" items.public_price != null" >  {{items.public_price}} €</p><br/>
              <p *ngIf=" items.supplier_stock != null" >stock: {{items.supplier_stock}}</p><br/>
          </ion-item>
        </ion-card-content>
        </ion-card>

</ion-content>
