page-home {

}
.corp_ac{
  background-color: rgb(250, 228, 228);
}
.ione_ac{
  font-size: 10rem;
  margin: 1rem;
}
.colac{
  background-color: rgb(112, 25, 25);
  border-radius: 10px;
  box-shadow: 6px 6px 0px rgb(145, 141, 97);
}

.colac2{
  background-color: rgb(145, 141, 97);
  border-radius: 10px;
  box-shadow: 6px 6px 0px rgb(112, 25, 25);
}
