<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Baki</ion-title>
  </ion-navbar>
 
</ion-header>

<ion-content padding>
<ion-grid class ="corp_ac">
  <ion-row>
    <ion-col col-5 class="colac" (click)='choix(1)' >
      <ion-icon  class="ione_ac" name="ios-people" ></ion-icon>
      <h4 align="center">Annuaire</h4>
    </ion-col>
    <ion-col col-2></ion-col>
    <ion-col col-5 class="colac2"(click)='choix(2)' >
      <ion-icon  class="ione_ac" name="md-time"></ion-icon>
      <h4 align="center">Interventions</h4>
    </ion-col>

  </ion-row>

<ion-row>
<ion-col col-12></ion-col>
</ion-row>
  <ion-row>
      <ion-col col-5 class="colac2"(click)='choix(3)' >
        <ion-icon  class="ione_ac" name="ios-basket"></ion-icon>
        <h4 align="center">Ventes</h4>
      </ion-col>
      <ion-col col-2></ion-col>
      <ion-col col-5 class="colac" (click)='choix(4)'><ion-icon  class="ione_ac" name="md-cart"></ion-icon>
        <h4 align="center">Achats</h4>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12></ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-5 class="colac" (click)='choix(5)' >
          <ion-icon  class="ione_ac" name="ios-cube"></ion-icon>
          <h4 align="center">Articles</h4>
        </ion-col>
      </ion-row>
</ion-grid>


</ion-content>
