<!--
  Generated template for the CreateSheetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{this.titrepage}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <ion-grid>
        <ion-row>
          <ion-col col-12><ion-list>
              <ion-item>
                <ion-label>Projet</ion-label>
                <ion-select  [(ngModel)]="this.id_project"      >
                  <ion-option *ngFor="let obj of Project.projects"  [value]="obj.id"  (select)="vardef(obj.id)" >{{obj.full_title}}</ion-option>

                </ion-select>
              </ion-item>
            </ion-list>
          </ion-col>

          <ion-col col-12>
              <ion-item>
                  <ion-label>Date de intervention</ion-label>
                  <ion-datetime displayFormat=" DD MMM, YYYY HH:mm"  [(ngModel)]="this.date_debut" > type="date"</ion-datetime>
                </ion-item>
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col padding col-12 >
              <ion-item>
                <ion-label>Durée en heures</ion-label>
                  <ion-input [(ngModel)]="this.duree"  type="number" > </ion-input>
                </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col padding col-12 >
              <ion-item>
                <ion-textarea rows="10" cols="35" data-provide="markdown" [(ngModel)]="this.decription"  placeholder="Description" ></ion-textarea>
              </ion-item>

            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col padding col-12>
              <ion-item >
                <ion-label>Facturable :</ion-label>
                <ion-toggle [(ngModel)]= "this.facturable" checked="{this.fct}" ></ion-toggle>
              </ion-item>
            </ion-col> </ion-row><ion-row>
            <ion-col padding col-12>
              <ion-item >
                <ion-label>Envoie par courriel :</ion-label>
                <ion-toggle [(ngModel)]= "envoy_mail" checked="false" ></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-item>
                <button ion-button icon-right full (tap)="ValideAction()"  *ngIf=" this.etat == null" >
                    Valider
                    <ion-icon name="md-checkmark"></ion-icon>
                </button>
                <button ion-button icon-right full (tap)="editeAction()"  *ngIf=" this.etat != null" >
                  Valider
                  <ion-icon name="md-checkmark"></ion-icon>
              </button>
            </ion-item>
        </ion-col>

        <ion-col col-6>
            <ion-item>
                <button ion-button  icon-right color="danger" full (tap)="boutton_retour()">
                   Annuler
                </button>
              </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
  <br> <br> <br>



</ion-content>
